$green: #088400;
$salad: #84ad1b;
$light-green: #90d23d;
$blue: #06a9df;
$gray: #858481;

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.cl-fix {
  display: block;
  content: "";
  clear: both;
}

.clear {
  clear: both;
}

.top-banner {
  height: 126px;
  border-bottom: 4px solid $green;
}

.logo {
  height: 238px;
}

.nav {
  height: 58px;
  background: $green;

  &__item {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    color: #ffffff;
    &:hover {
      background-color: #087700;
      -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
      box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
  }

  &-list {
    width: 850px;
    margin: 0 auto;
    list-style: none;

    li:last-child {
      width: 223px;
    }

    li:nth-child(2) a {
      margin-left: 75px
    }

    li:last-child a {
      margin-left: 66px;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 21px 0 21px 0;
    margin-left: 120px;
  }
}

.catalog {
  background: url(../img/nav-burger.png) 72px 17px no-repeat;
}

.advertisement {
  background: url("../img/nav-email.png") 27px 17px no-repeat;
}

.contacts {
  padding-left: 53px;
  background: url("../img/nav-contacts.png") 83px 17px no-repeat;
}

.main {
  padding-bottom: 20px;
}

.main_contacts {
  background: #ffffff;
}

.main-wrapper {
  background: url("../img/background.png") repeat-y;
}

.main-overlay,
.product-overlay {
  background: rgba(255, 255, 255, .8);
  width: 100%;
  height: 100%;
}

aside, .content {
  float: left;
}

.side-banners {
  float: right;
  padding: 15px;
}

.banner-block {
  margin-bottom: 25px;
}

.service {
  padding-top: 20px;
  min-height: 500px;
  background: #ffffff;
  -moz-border-top-right-radius: 8px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);

  &__item {
    height: 27px;
    line-height: 27px;

  }

  &__link {
    padding: 5px 25px;
    color: $gray;
    font-size: 18px;
    font-weight: bold;
    &:hover {
      color: $green;
      text-decoration: underline;
    }
  }
}

.product-overlay {
  background: rgba(255, 255, 255, .7);
}

.service-name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

  &__title {
    display: inline-block;
    vertical-align: top;
    padding: 5px 20px;
    height: 40px;
    color: $blue;
    background: rgba(255, 255, 255, .4);
    font-size: 26px;
    border: 2px solid $blue;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

}

.product {
  width: 753px;
  height: 100%;
  margin-left: 20px;

  &__checkbox-container {
    margin-top: 20px;
    font-size: 14px;
  }

  &__check {
    margin-right: 7px;
    label {
      display: inline-block;
      border-bottom: 1px #000000 dotted;
    }
  }
  &__title {
    font-size: 22px;
    line-height: 30px;
    color: #297ef2;
  }

  &__price {
    margin-top: 8px;
    font-size: 26px;
    line-height: 34px;
  }

  &__order,
  &__sale,
  &__date {
    padding: 0px 20px;
    font-size: 16px;
    color: #575858;
  }

  &__order {
    padding-left: 0;
    color: #62ad67;
  }

  &__order,
  &__sale {
    border-right: 1px solid #dedede;
  }

  &__organization,
  &__text,
  &__contacts {
    margin-top: 10px;
    font-size: 16px;
  }

  &__organization {
    color: $blue;
    font-weight: bold;
    font-size: 18px;
  }

}

.product-img,
.product-description {
  float: left;
  padding: 15px;
}

.product-description {
  min-height: 100px;
  width: 585px;
  padding-right: 0;
}

.product-img {
  padding-top: 62px;
}

.product-options {
  margin-top: 5px;
  height: 25px;
  line-height: 25px;
}

.buttons {
  margin-top: 30px;
  &__send-order,
  &__in-cart {
    padding: 10px 25px;
    color: $blue;
    border: none;
    font-size: 16px;
    background: none;
    border: 2px solid $blue;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    &:hover {
      background: $blue;
      color: #fff;
    }
  }

  &__send-order {
    margin-right: 15px;
  }

  &__in-cart {

  }
}

.advertize-block {

  margin-bottom: 15px;
}

.advertize {
  display: block;
  margin-left: 20px;
  margin-right: -4px;
  margin-bottom: 20px;
  background: #ffffff;

  &__sub-block {
    margin-top: 20px;
    padding-left: 15px;
  }

  &__title {
    margin-left: 15px;
    margin-bottom: 20px;
    color: #71a461;
    font-size: 28px;
    line-height: 32px;
  }

  &__price {
    font-size: 34px;
    line-height: 1.4;
  }

  &__text {
    font-size: 15px;
    line-height: 1.8;
    font-weight: bold;
    color: $gray;
  }

  &__total {
    margin-top: 20px;
    padding-left: 25px;
  }

  &__input {
    float: left;
    font-family: 'Open Sans', sans-serif;
    width: 267px;
    display: block;
    padding: 10px;
    border: 1px solid $salad;
    outline: none;
    margin-bottom: 13px;
    color: #696969;
    font-size: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    resize: none;
  }

  &__heading,
  &__name-organization,
  &__text-desciption,
  &__phone,
  &__schedule,
  &__address,
  &__site,
  &__email,
  &__nets, {
    font-family: 'Open Sans', sans-serif;
    display: block;
    min-width: 400px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #90d23d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
  }

  &__phone,
  &__heading,
  &__text-desciption {
    background: url(../img/star-small.png) 404px 4px no-repeat;
  }

  &__text-desciption {
    min-width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
    height: inherit;
  }

  &__total {
    margin-top: 100px;
  }

  &__obligatory-block {
    margin-top: 20px;
  }

  &__obligatory-text {
    margin-top: 10px;
    font-size: 16px;
  }

  &__obligatory__img {
    display: block;
  }

}

.advertize-block {
  margin-top: 20px;
}

.promo-container {
  text-align: center;

  &_banner-advertize {
    display: inline-block;
    vertical-align: top;
    float: left;
    margin-left: 50px;
    margin-top: 1px;
  }
}

.promo {
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 1px;
  height: 40px;
  font-size: 18px;
  border: 2px solid $light-green;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
}

.advertize__input-area,
.advertize-img {
  float: left;
  padding: 10px 25px;
}

.advertize__input-area {
  padding-left: 0;
  margin-left: 30px;
  width: 430px;
}

.buttons_green,
.buttons_salad {
  margin-top: 25px;
  text-align: center;
}

.buttons_green {
  float: right;
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
  margin-top: 0;
}

.buttons__in-cart_green,
.buttons__in-cart_salad {
  background: $salad;
  color: #fff;
  font-size: 16px;
  border: 2px solid $salad;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  outline: none;
  &:hover {
    background: $light-green;
    border: 2px solid $light-green;
  }
}

.buttons__in-cart_green {
  display: block;
  margin-top: 15px;
}

.buttons__in-cart_salad {
  margin-right: 20px;
}

.division-block {
  background: $light-green;
  height: 63px;
}

.division {
  float: left;
  margin-top: 21px;
  margin-left: 25px;

  &__part {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;

    &:hover {
      color: #d1ff98;
    }
  }

  a:last-child {
    color: #d1ff98;
  }
}

.close {
  display: block;
  float: right;
  width: 37px;
  height: 37px;
  margin-top: 11px;
  margin-right: 15px;
  background: url("../img/icons.png") 0 -118px no-repeat;
  &:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform, 0.6s ease;
    -ms-transition: transform, 0.6s ease;
    transition: transform, 0.6s ease;
  }
  &:not(hover) {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: transform, 0.6s ease;
    -ms-transition: transform, 0.6s ease;
    transition: transform, 0.6s ease;
  }
}

.banner-advertize {
  min-height: 590px;
  background: #ffffff;

  &__img-container {
    width: 32%;
    margin-top: 15px;
    margin-left: 35px;
  }

  &__description {
    width: 63%;
    margin-left: 20px;
    background: #f0ffdd;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }

  &__img-container,
  &__description {
    margin-top: 15px;
    float: left;
  }

  &__tile-container {
    margin-top: 13px;
  }

  &__tile-link {
    display: block;
    float: left;
    margin-right: 13px;
    border: 1px solid #fff;
    &:hover {
      border: 1px solid $salad;
    }
  }

  &__heading,
  &__name-organization,
  &__text-desciption,
  &__phone {
    font-family: 'Open Sans', sans-serif;
    display: block;
    min-width: 400px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #90d23d;
    background: #fff url(../img/star-small.png) 404px 4px no-repeat;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
  }

  &__text-desciption {
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
    height: inherit;
  }

  &__title-container {
    width: 99.5%;
    margin: 0 auto;
    height: 76px;
    line-height: 76px;
    background: #ffffff;
    border-top-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  }

  &__title {
    color: #71a461;
    font-size: 34px;
    margin-left: 20px;
    &-small {
      font-size: 15px;
    }
  }

  &__input-area {
    float: left;
    min-height: 205px;
    padding: 15px;
  }

  &__upload-container {
    margin: 50px 50px 0 0;
    width: 100px;
    height: 104px;
    text-align: center;
    line-height: 100px;
    float: right;
    border: 2px dashed $light-green;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  &__upload-lable {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 84px;
    border: 2px solid #effddc;
    background: url("../img/add_file.png");
    cursor: pointer;
    &:hover {
      background: url("../img/add_file_green.png");
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
    }
    &:not(hover) {
      background: url("../img/add_file.png");
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
    }
  }

  &__text {
    color: #909090;
    font-size: 20px;
    font-weight: bold;
  }

  &__total {
    height: 70px;
    line-height: 70px;
    background: #dbffad;
    order-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
  }

  &__price {
    float: left;
    font-size: 36px;
    margin-left: 32px;
  }

}

.buttons_salad {
  text-align: right;
}

.buttons__in-cart_salad {
  background: #76c415;
}

.partners {
  height: 204px;

  &__title {
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
  }
}

.slider {
  position: relative;
  width: 695px;
  margin: 0 auto;
  margin-top: 37px;

  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 55px;
  }

  div:last-child {
    margin-right: 0;
  }
}

.contact-us {
  background: #ffffff;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 30px;

  &__title {
    width: 940px;
    padding-top: 75px;
    text-align: center;
    font-size: 40px;
  }

}

.form-table {
  display: table;
  width: 1000px;
  margin: 0 auto;
  margin-top: 25px;

  &__row {
    display: table-row;
  }

  &__cell {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 50px;
  }

  &__cell_map {
    width: 630px;
    height: 400px;
  }

  &__title {
    margin-bottom: -3px;
    font-size: 30px;
  }

  &__text {
    font-size: 14px;
    font-weight: bold;
  }

}

.form input {
  display: block;
}

.form {

  &__name,
  &__number,
  &__email {
    font-family: 'Open Sans', sans-serif;
    width: 317px;
    display: block;
    padding: 15px 15px;
    border: 1px solid #d2d2d2;
    background: transparent;
    outline: none;
    margin-bottom: 11px;
    color: #696969;
    font-size: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  &__submit {
    width: 205px;
    height: 50px;
    border-radius: 2px;
    color: #fff;
    font-size: 25px;
    line-height: 47px;
    background: $light-green;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    cursor: pointer;
    border: none;
    outline: none;
    overflow: hidden;
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    width: 327px;
    display: block;
    padding: 10px;
    border: 1px solid #d2d2d2;
    outline: none;
    margin-bottom: 13px;
    color: #696969;
    font-size: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    resize: none;
  }
}

.contact-ways__block {
  background: #fff;
  padding: 30px 0;
}

.contact-ways {
  width: 860px;
  margin: 30px auto;
  margin-bottom: 0;

  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 60px;
  }

  &__link {
    display: block;
    height: 28px;
    padding: 5px 0px;
    padding-left: 48px;
    color: #000;
    line-height: 19px;
    font-size: 18px;

    &:hover {
      color: $salad;
    }

  }

  &__link_tel {
    background: url("../img/icons.png") 0 -155px no-repeat;
  }

  &__link_email {
    background: url("../img/icons.png") 0 -190px no-repeat;
  }

  &__link_address {
    background: url("../img/icons.png") 0 -228px no-repeat;
  }

  &__link_fax {
    background: url("../img/icons.png") 0 -270px no-repeat;
  }

  &__list li:last-child {
    margin-right: 0;
  }

}

footer {
  position: relative;
  height: 160px;
  background: $light-green;
}

.social-nets {
  margin: 0 auto;
  width: 550px;
  padding-top: 30px;

  &__list {
    width: 200px;
    margin: 0 auto;

    li:last-child {
      margin-right: 0;
    }
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 49px;
    margin-right: 8px;
  }

  &__link {
    display: block;
    width: 50px;
    height: 49px;

    &:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: transform, 0.9s ease;
      -ms-transition: transform, 0.9s ease;
      transition: transform, 0.9s ease;
    }

    &:not(hover) {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: transform, 0.9s ease;
      -ms-transition: transform, 0.9s ease;
      transition: transform, 0.9s ease;
    }

  }

  &__link_facebook {
    background: url("../img/icons.png") 0 -337px no-repeat;
  }

  &__link_vk {
    background: url("../img/icons.png") 0 -388px no-repeat;
  }

  &__link_linkedin {
    background: url("../img/icons.png") 0 -438px no-repeat;
  }

  &__link_google {
    background: url("../img/icons.png") 0 -489px no-repeat;
  }

  &__copyright {
    margin-top: 30px;
    display: block;
    color: #ffffff;
    font-size: 16px;
  }
}

.up-button__container {
  position: absolute;
  top: 70px;
  right: 160px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.up-button {
  display: inline-block;
  width: 32px;
  height: 20px;
  background: url("../img/icons.png") -5px -311px no-repeat;
}

.ik_select {
  margin-bottom: 11px;
}

.intro-select1-link,
.intro-select2-link .ik_select_link_inner {
  position: relative;
  padding: 20px 50px 20px 30px;
}

.intro-select1-link,
.intro-select1-dd
.ik_select_list,
.intro-select2-link
.ik_select_link_inner,
.intro-select2-dd
.ik_select_list {
  background: #fff;
  font-size: 20px;
  line-height: 24px;
  color: $gray;
  border: 1px solid #90d23d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.ik_select_link {
  height: 20px !important;
  margin-top: 3px;
  padding: 10px 35px 10px 15px;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: $gray;
}

.ik_select_link_text {
  font-size: 16px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.ik_select_link:after,
.intro-select2-link
.ik_select_link_inner:after {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 20px;
  line-height: 24px;
  margin-top: -11px;
}

.ik_select_dropdown {
  top: -1px;
  left: -2px;
  min-width: 410px;
  max-width: none;
  width: auto !important;
  padding: 5px;
  background: #fff;
  border: 1px solid #90d23d;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.intro-select1-dd .ik_select_list li.ik_select_hover,
.intro-select2-dd .ik_select_list li.ik_select_hover {
  background: #fff;
}

.intro-select1-dd .ik_select_list li,
.intro-select2-dd .ik_select_list li {
  padding: 2px 50px 2px 30px;
}

.ik_select_autowidth {
  min-width: 390px;
  margin-top: -44px;
  margin-left: 2px;
  cursor: pointer;
}

.ik_select_list {
  /*  width: 405px;*/
}

.ik_select_list .ik_select_option {
  padding: 6px 15px;
  padding-left: 12px;
  cursor: pointer;
  &:hover {
    color: #90d23d;
  }
}

.ik_select_option_label {
  font-size: 16px;
}

.intro-select1-link {
  cursor: pointer;
  width: 370px;
}

.intro-select1-link:after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: 65%;
  right: 15px;
  font-size: 20px;
  line-height: 24px;
  margin-top: -11px;
  background: url("../img/triangle.png") 0 0 no-repeat;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #d5d5d5 !important;
}

::-moz-placeholder {
  opacity: 1;
}

/*Firefox 19+*/
:-moz-placeholder {
  opacity: 1;
}

/* Firefox 18- */
:-ms-input-placeholder {
  opacity: 1;
  color: #d5d5d5 !important;
}

@media only screen and (min-width: 768px) and (max-width: 1140px) {

  .wrapper {
    width: 100%;
  }

  .top-banner,
  .logo {
    height: inherit;
  }

  .top-banner img,
  .logo img {
    max-width: 100%;
  }

}

@media only screen and (min-width: 320px) and (max-width: 1100px) {

  .service {
    width: 100%;
    min-height: inherit;
    padding-bottom: 10px;
  }

  .service__item {
    text-align: center;
  }

  .nav__item {
    width: 240px;
  }

  .nav-list {
    width: inherit;
  }

  .service,
  .content {
    float: none;
  }

  .product {
    width: inherit;
  }

  .product-description {
    width: 100%;
  }

  .side-banners {
    float: none;
  }

  .banner-block {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }

  .product-description {
    padding-right: 0;
    padding-left: 0;
  }

  .up-button__container {
    right: 20px;
  }

  .contact-us__title {
    width: 100%;
  }

  .form-table__cell, {
    display: block;
  }

}

@media only screen and (min-width: 320px) and (max-width: 768px) {

  .top-banner,
  .logo {
    height: inherit;
  }

  .top-banner img,
  .logo img {
    max-width: 100%;
  }

  .wrapper {
    width: 100%;
  }
  
  .nav {
    height: inherit;
  }

  .nav__item {
    width: 100% !important;
    display: block;
    text-align: center;
    padding-left: 0;
  }
  
  .nav__link {
    margin-left: 0 !important;

  }

  .catalog,
  .advertisement,
  .contacts {
    background-image: none;
  }
  
  .social-nets {
    width: 100%;
  }

  .social-nets__copyright {
    padding-left: 15px;
    padding-right: 15px;
  }

  .slider {
    width: 100%;
  }

  .slider__item {
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-right:inherit; }

  .slider div:last-child {
    margin-right: inherit;
  }
  
  .partners {
    height: inherit;
  }
  
  .contact-ways {
    width: 100%;
  }

  .contact-ways__item {
    display: block;
    width: 180px;
    margin: 0 auto;
  }

  .contact-ways__list li:last-child {
     margin-right: inherit;
  }

  .contact-us__title {
    font-size: 28px;
  }

  .form__name,
  .form__number,
  .form__email,
  .form-table {
    width: 100%;
  }
  
  .iframe {
    width: 100%;
  }

}

@media only screen and (min-width: 320px) and (max-width: 420px) {

  .side-banners {
    text-align: center;
  }

}