@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800");
* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000000; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.wrapper {
  width: 1280px;
  margin: 0 auto; }

.cl-fix {
  display: block;
  content: "";
  clear: both; }

.clear {
  clear: both; }

.top-banner {
  height: 126px;
  border-bottom: 4px solid #088400; }

.logo {
  height: 238px; }

.nav {
  height: 58px;
  background: #088400; }
  .nav__item {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    margin-right: 35px; }
  .nav-list {
    width: 700px;
    margin: 0 auto;
    padding-top: 20px;
    list-style: none; }
    .nav-list li:nth-child(2) {
      margin-right: 22px; }
  .nav__link {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    padding-left: 55px; }

.catalog {
  background: url("../img/icons.png") 0 0px no-repeat; }

.advertisement {
  background: url("../img/icons.png") 0 -29px no-repeat; }

.contacts {
  padding-left: 53px;
  background: url("../img/icons.png") 0 -57px no-repeat; }

.main {
  padding-bottom: 20px; }

.main-wrapper {
  background: url("../img/background.png") repeat-y; }

.main-overlay,
.product-overlay {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%; }

aside, .content {
  float: left; }

.side-banners {
  float: right;
  padding: 15px; }

.banner-block {
  margin-bottom: 25px; }

.service {
  padding-top: 20px;
  padding-bottom: 150px;
  background: #ffffff;
  -moz-border-top-right-radius: 8px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12); }
  .service__item {
    height: 27px;
    line-height: 27px; }
  .service__link {
    padding: 5px 25px;
    color: #858481;
    font-size: 18px;
    font-weight: bold; }
    .service__link:hover {
      color: #088400;
      text-decoration: underline; }

.product-overlay {
  background: rgba(255, 255, 255, 0.7); }

.product {
  width: 753px;
  height: 100%;
  margin-left: 20px; }
  .product__checkbox-container {
    margin-top: 20px;
    font-size: 14px; }
  .product__check {
    margin-right: 7px; }
    .product__check label {
      display: inline-block;
      border-bottom: 1px #000000 dotted; }
  .product__title {
    font-size: 22px;
    line-height: 30px;
    color: #297ef2; }
  .product__price {
    margin-top: 8px;
    font-size: 26px;
    line-height: 34px; }
  .product__order, .product__sale, .product__date {
    padding: 0px 20px;
    font-size: 16px;
    color: #575858; }
  .product__order {
    padding-left: 0;
    color: #62ad67; }
  .product__order, .product__sale {
    border-right: 1px solid #dedede; }
  .product__text {
    margin-top: 10px;
    font-size: 16px; }

.product-img,
.product-description {
  float: left;
  padding: 15px;
  margin-bottom: 20px; }

.product-description {
  min-height: 200px;
  width: 585px;
  padding-right: 0; }

.product-img {
  padding-top: 62px; }

.product-options {
  margin-top: 5px;
  height: 25px;
  line-height: 25px; }

.buttons {
  margin-top: 30px; }
  .buttons__send-order, .buttons__in-cart {
    padding: 10px 25px;
    color: #06a9df;
    border: none;
    font-size: 16px;
    background: none;
    border: 2px solid #06a9df;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none; }
    .buttons__send-order:hover, .buttons__in-cart:hover {
      background: #06a9df;
      color: #fff; }
  .buttons__send-order {
    margin-right: 15px; }

.advertize-block {
  background: #ffffff;
  margin-bottom: 15px; }

.advertize {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-right: -4px;
  margin-bottom: 60px; }
  .advertize__sub-block {
    margin-top: 20px;
    border-left: 1px solid #dadada;
    padding-left: 15px; }
  .advertize__title {
    margin-top: 20px;
    color: #71a461;
    font-size: 28px;
    line-height: 32px; }
  .advertize__price {
    font-size: 34px;
    line-height: 1.4; }
  .advertize__text {
    font-size: 15px;
    line-height: 1.8;
    font-weight: bold;
    color: #858481; }

.advertize-description,
.advertize-img {
  float: left;
  padding: 10px 25px; }

.advertize-description {
  padding-left: 0;
  width: 265px; }

.buttons_green,
.buttons_salad {
  margin-top: 25px;
  text-align: center; }

.buttons__in-cart_green,
.buttons__in-cart_salad {
  padding: 8px 45px;
  background: #84ad1b;
  color: #fff;
  border: none;
  font-size: 16px;
  border: 2px solid #84ad1b;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  outline: none; }
  .buttons__in-cart_green:hover,
  .buttons__in-cart_salad:hover {
    background: #90d23d;
    border: 2px solid #90d23d; }

.division-block {
  background: #90d23d;
  height: 63px; }

.division {
  float: left;
  margin-top: 21px;
  margin-left: 25px; }
  .division__part {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase; }
    .division__part:hover {
      color: #d1ff98; }
  .division a:last-child {
    color: #d1ff98; }

.close {
  display: block;
  float: right;
  width: 37px;
  height: 37px;
  margin-top: 11px;
  margin-right: 15px;
  background: url("../img/icons.png") 0 -118px no-repeat; }
  .close:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform, 0.6s ease;
    -ms-transition: transform, 0.6s ease;
    transition: transform, 0.6s ease; }
  .close:not(hover) {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: transform, 0.6s ease;
    -ms-transition: transform, 0.6s ease;
    transition: transform, 0.6s ease; }

.text-advertize {
  min-height: 720px;
  background: #ffffff; }
  .text-advertize__img-container {
    width: 32%;
    margin-top: 15px;
    margin-left: 35px; }
  .text-advertize__description {
    width: 63%;
    margin-left: 20px;
    background: #f0ffdd;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; }
  .text-advertize__img-container, .text-advertize__description {
    margin-top: 15px;
    float: left; }
  .text-advertize__tile-container {
    margin-top: 13px; }
  .text-advertize__tile-link {
    display: block;
    float: left;
    margin-right: 13px;
    border: 1px solid #fff; }
    .text-advertize__tile-link:hover {
      border: 1px solid #84ad1b; }
  .text-advertize__title-container {
    width: 99.5%;
    margin: 0 auto;
    height: 76px;
    line-height: 76px;
    background: #ffffff;
    border-top-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12); }
  .text-advertize__title {
    color: #71a461;
    font-size: 34px;
    margin-left: 20px; }
  .text-advertize__text-container {
    min-height: 205px;
    padding: 15px; }
  .text-advertize__text {
    color: #909090;
    font-size: 20px;
    font-weight: bold; }
  .text-advertize__total {
    height: 70px;
    line-height: 70px;
    background: #dbffad;
    order-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px; }
  .text-advertize__price {
    float: left;
    font-size: 36px;
    margin-left: 32px; }

.buttons_salad {
  text-align: right; }

.buttons__in-cart_salad {
  margin-right: 70px;
  background: #76c415; }

.partners {
  height: 204px; }
  .partners__title {
    margin-top: 20px;
    font-size: 36px;
    text-align: center; }

.slider {
  position: relative;
  width: 695px;
  margin: 0 auto;
  margin-top: 37px; }
  .slider__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 55px; }
  .slider div:last-child {
    margin-right: 0; }
  .slider:before {
    display: block;
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 42px;
    left: -70px;
    background: url("../img/slider_arrow-back.png") 0 0 no-repeat;
    cursor: pointer; }
  .slider:after {
    display: block;
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 42px;
    right: -70px;
    background: url("../img/slider_arrow-forward.png") 0 0 no-repeat;
    cursor: pointer; }

.contact-us {
  background: #ffffff;
  padding-bottom: 80px; }
  .contact-us__title {
    padding-top: 75px;
    text-align: center;
    font-size: 40px; }

.form-table {
  display: table;
  width: 1000px;
  margin: 0 auto;
  margin-top: 25px; }
  .form-table__row {
    display: table-row; }
  .form-table__cell {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 50px; }
  .form-table__cell_map {
    width: 630px;
    height: 400px; }
  .form-table__title {
    margin-bottom: -3px;
    font-size: 30px; }
  .form-table__text {
    font-size: 14px;
    font-weight: bold; }

.form input {
  display: block; }

.form__name, .form__number, .form__email {
  font-family: 'Open Sans', sans-serif;
  width: 317px;
  display: block;
  padding: 15px 15px;
  border: 1px solid #d2d2d2;
  background: transparent;
  outline: none;
  margin-bottom: 11px;
  color: #696969;
  font-size: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
.form__submit {
  width: 205px;
  height: 50px;
  border-radius: 2px;
  color: #fff;
  font-size: 25px;
  line-height: 47px;
  background: #90d23d;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  cursor: pointer;
  border: none;
  outline: none;
  overflow: hidden; }
.form__text {
  font-family: 'Open Sans', sans-serif;
  width: 327px;
  display: block;
  padding: 10px;
  border: 1px solid #d2d2d2;
  outline: none;
  margin-bottom: 13px;
  color: #696969;
  font-size: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  resize: none; }

.contact-ways {
  width: 860px;
  margin: 30px auto;
  margin-bottom: 0; }
  .contact-ways__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 60px; }
  .contact-ways__link {
    display: block;
    height: 28px;
    padding: 5px 0px;
    padding-left: 48px;
    color: #000;
    line-height: 19px;
    font-size: 18px; }
    .contact-ways__link:hover {
      color: #84ad1b; }
  .contact-ways__link_tel {
    background: url("../img/icons.png") 0 -155px no-repeat; }
  .contact-ways__link_email {
    background: url("../img/icons.png") 0 -190px no-repeat; }
  .contact-ways__link_address {
    background: url("../img/icons.png") 0 -228px no-repeat; }
  .contact-ways__link_fax {
    background: url("../img/icons.png") 0 -270px no-repeat; }
  .contact-ways__list li:last-child {
    margin-right: 0; }

footer {
  position: relative;
  height: 220px;
  background: #90d23d; }

.social-nets {
  margin: 0 auto;
  width: 550px;
  padding-top: 55px; }
  .social-nets__list {
    width: 250px;
    margin: 0 auto; }
    .social-nets__list li:last-child {
      margin-right: 0; }
  .social-nets__item {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 49px;
    margin-right: 8px; }
  .social-nets__link {
    display: block;
    width: 50px;
    height: 49px; }
    .social-nets__link:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: transform, 0.9s ease;
      -ms-transition: transform, 0.9s ease;
      transition: transform, 0.9s ease; }
    .social-nets__link:not(hover) {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: transform, 0.9s ease;
      -ms-transition: transform, 0.9s ease;
      transition: transform, 0.9s ease; }
  .social-nets__link_facebook {
    background: url("../img/icons.png") 0 -337px no-repeat; }
  .social-nets__link_vk {
    background: url("../img/icons.png") 0 -388px no-repeat; }
  .social-nets__link_linkedin {
    background: url("../img/icons.png") 0 -438px no-repeat; }
  .social-nets__link_google {
    background: url("../img/icons.png") 0 -489px no-repeat; }
  .social-nets__copyright {
    margin-top: 30px;
    display: block;
    color: #ffffff;
    font-size: 16px; }

.up-button__container {
  position: absolute;
  top: 100px;
  right: 160px; }

.up-button {
  display: block;
  width: 32px;
  height: 20px;
  background: url("../img/icons.png") -5px -311px no-repeat; }

::-webkit-input-placeholder {
  opacity: 1;
  color: #d5d5d5 !important; }

::-moz-placeholder {
  opacity: 1; }

/*Firefox 19+*/
:-moz-placeholder {
  opacity: 1; }

/* Firefox 18- */
:-ms-input-placeholder {
  opacity: 1;
  color: #d5d5d5 !important; }

/*# sourceMappingURL=style.css.map */
