@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800");
* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000000; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.wrapper {
  width: 1280px;
  margin: 0 auto; }

.cl-fix {
  display: block;
  content: "";
  clear: both; }

.clear {
  clear: both; }

.top-banner {
  height: 126px;
  border-bottom: 4px solid #088400; }

.top-banner__img-static {
  display: none; }

.logo {
  height: 238px; }

.nav {
  height: 58px;
  background: #088400; }
  .nav__item {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    color: #ffffff; }
    .nav__item:hover {
      background-color: #087700;
      -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
      box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
      cursor: pointer; }
  .nav-list {
    width: 850px;
    margin: 0 auto;
    list-style: none; }
    .nav-list li:last-child {
      width: 223px; }
    .nav-list li:nth-child(2) a {
      margin-left: 75px; }
    .nav-list li:last-child a {
      margin-left: 66px; }
  .nav__link {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 21px 0 21px 0;
    margin-left: 120px; }

.catalog {
  background: url(../img/nav-burger.png) 72px 17px no-repeat; }

.advertisement {
  background: url("../img/nav-email.png") 27px 17px no-repeat; }

.contacts {
  padding-left: 53px;
  background: url("../img/nav-contacts.png") 83px 17px no-repeat; }

.main {
  padding-bottom: 20px; }

.main_contacts {
  background: #ffffff; }

.main-wrapper {
  background: url("../img/background.png") repeat-y; }

.main-overlay,
.product-overlay {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%; }

aside, .content {
  float: left; }

.content_banner {
  width: 84%; }

.content_main {
  width: 610px;
  margin-left: 20px; }

.side-banners {
  float: right;
  padding: 15px; }

.banner-block {
  margin-bottom: 25px; }

.service {
  width: 315px;
  padding-top: 20px;
  min-height: 500px;
  background: #ffffff;
  -moz-border-top-right-radius: 8px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12); }
  .service__item {
    height: 27px;
    line-height: 27px; }
  .service__link {
    padding: 5px 25px;
    color: #858481;
    font-size: 18px;
    font-weight: bold; }
    .service__link:hover {
      color: #088400;
      text-decoration: underline; }

.product-overlay {
  background: rgba(255, 255, 255, 0.7); }

.service-name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }
  .service-name__title {
    display: inline-block;
    vertical-align: top;
    padding: 5px 20px;
    height: 40px;
    color: #06a9df;
    background: rgba(255, 255, 255, 0.4);
    font-size: 26px;
    border: 2px solid #06a9df;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

.product {
  height: 100%;
  margin-left: 20px; }
  .product__checkbox-container {
    margin-top: 20px;
    font-size: 14px; }
  .product__check {
    margin-right: 7px; }
    .product__check label {
      display: inline-block;
      border-bottom: 1px #000000 dotted; }
  .product__title {
    font-size: 22px;
    line-height: 30px;
    color: #297ef2; }
  .product__price {
    margin-top: 8px;
    font-size: 26px;
    line-height: 34px; }
  .product__order, .product__sale, .product__date {
    padding: 0px 20px;
    font-size: 16px;
    color: #575858; }
  .product__order {
    padding-left: 0;
    color: #62ad67; }
  .product__order, .product__sale {
    border-right: 1px solid #dedede; }
  .product__organization, .product__text, .product__contacts {
    margin-top: 10px;
    font-size: 16px; }
  .product__organization {
    color: #06a9df;
    font-weight: bold;
    font-size: 18px; }

.product-img,
.product-description {
  float: left;
  padding: 15px; }

.product-description {
  min-height: 100px;
  width: 585px;
  padding-right: 0; }

.product-img {
  padding-top: 62px; }

.product-options {
  margin-top: 5px;
  height: 25px;
  line-height: 25px; }

.buttons {
  margin-top: 30px; }
  .buttons__send-order, .buttons__in-cart {
    padding: 10px 25px;
    color: #06a9df;
    border: none;
    font-size: 16px;
    background: none;
    border: 2px solid #06a9df;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none; }
    .buttons__send-order:hover, .buttons__in-cart:hover {
      background: #06a9df;
      color: #fff; }
  .buttons__send-order {
    margin-right: 15px; }

.advertize-block {
  margin-bottom: 15px; }

.advertize {
  display: block;
  margin-left: 20px;
  margin-right: -4px;
  margin-bottom: 20px;
  background: #ffffff;
  height: auto; }
  .advertize__sub-block {
    margin-top: 20px;
    padding-left: 15px; }
  .advertize__title {
    margin-left: 15px;
    margin-bottom: 20px;
    color: #71a461;
    font-size: 28px;
    line-height: 32px; }
  .advertize__price {
    font-size: 34px;
    line-height: 1.4; }
  .advertize__text {
    font-size: 15px;
    line-height: 1.8;
    font-weight: bold;
    color: #858481; }
  .advertize__total {
    margin-top: 20px;
    padding-left: 25px; }
  .advertize__input {
    float: left;
    font-family: 'Open Sans', sans-serif;
    width: 267px;
    display: block;
    padding: 10px;
    border: 1px solid #84ad1b;
    outline: none;
    margin-bottom: 13px;
    color: #696969;
    font-size: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    resize: none; }
  .advertize__heading, .advertize__name-organization, .advertize__text-desciption, .advertize__phone, .advertize__schedule, .advertize__address, .advertize__site, .advertize__email, .advertize__nets {
    font-family: 'Open Sans', sans-serif;
    display: block;
    min-width: 400px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #90d23d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none; }
  .advertize__phone, .advertize__heading, .advertize__text-desciption {
    background: url(../img/star-small.png) 404px 4px no-repeat; }
  .advertize__text-desciption {
    min-width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
    height: inherit; }
  .advertize__total {
    margin-top: 50px; }
  .advertize__obligatory-block {
    margin-top: 20px; }
  .advertize__obligatory-text {
    margin-top: 10px;
    font-size: 16px; }
  .advertize__obligatory__img {
    display: block; }

.advertize-block {
  margin-top: 20px; }

.promo-container {
  text-align: center; }
  .promo-container_banner-advertize {
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-right: 27px; }

.promo {
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 1px;
  height: 40px;
  font-size: 18px;
  border: 2px solid #90d23d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none; }

.advertize__input-area,
.advertize-img {
  float: left;
  padding: 10px 25px; }

.advertize-img {
  float: right;
  margin-top: 50px; }

.advertize__input-area {
  padding-left: 0;
  margin-left: 30px;
  width: 421px; }

.buttons_green,
.buttons_salad {
  margin-top: 25px;
  text-align: center; }

.buttons_green {
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
  margin-top: 0; }

.buttons__in-cart_green,
.buttons__in-cart_salad {
  background: #84ad1b;
  color: #fff;
  font-size: 16px;
  border: 2px solid #84ad1b;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  outline: none; }
  .buttons__in-cart_green:hover,
  .buttons__in-cart_salad:hover {
    background: #90d23d;
    border: 2px solid #90d23d; }

.buttons__in-cart_green {
  display: block;
  margin-top: 15px; }

.buttons__in-cart_salad {
  margin-right: 25px; }

.division-block {
  background: #90d23d;
  height: 63px; }

.division {
  float: left;
  margin-top: 21px;
  margin-left: 25px; }
  .division__part {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase; }
    .division__part:hover {
      color: #d1ff98; }
  .division a:last-child {
    color: #d1ff98; }

.close {
  display: block;
  float: right;
  width: 37px;
  height: 37px;
  margin-top: 11px;
  margin-right: 15px;
  background: url("../img/icons.png") 0 -118px no-repeat; }
  .close:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform, 0.6s ease;
    -ms-transition: transform, 0.6s ease;
    transition: transform, 0.6s ease; }
  .close:not(hover) {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: transform, 0.6s ease;
    -ms-transition: transform, 0.6s ease;
    transition: transform, 0.6s ease; }

.banner-advertize {
  min-height: 590px;
  background: #ffffff; }
  .banner-advertize__img-container {
    width: 32%;
    margin-top: 15px;
    margin-left: 35px; }
  .banner-advertize__description {
    width: 61%;
    margin-left: 20px;
    background: #f0ffdd;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; }
  .banner-advertize__img-container, .banner-advertize__description {
    margin-top: 15px;
    float: left; }
  .banner-advertize__tile-container {
    margin-top: 13px; }
  .banner-advertize__tile-link {
    display: block;
    float: left;
    margin-right: 13px;
    border: 1px solid #fff; }
    .banner-advertize__tile-link:hover {
      border: 1px solid #84ad1b; }
  .banner-advertize__heading, .banner-advertize__name-organization, .banner-advertize__text-desciption, .banner-advertize__phone {
    font-family: 'Open Sans', sans-serif;
    display: block;
    min-width: 400px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #90d23d;
    background: #fff url(../img/star-small.png) 404px 4px no-repeat;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none; }
  .banner-advertize__text-desciption {
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
    height: inherit; }
  .banner-advertize__title-container {
    width: 99.5%;
    margin: 0 auto;
    height: 76px;
    line-height: 76px;
    background: #ffffff;
    border-top-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12); }
  .banner-advertize__title {
    display: inline-block;
    vertical-align: baseline;
    color: #71a461;
    font-size: 28px;
    margin-left: 20px; }
  .banner-advertize__title-small {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 5px;
    color: #71a461;
    font-size: 12px;
    font-weight: bold; }
  .banner-advertize__input-area {
    float: left;
    min-height: 205px;
    padding: 15px; }
  .banner-advertize__upload-container {
    margin: 50px 30px 117px 0;
    width: 100px;
    height: 104px;
    text-align: center;
    line-height: 100px;
    float: right;
    border: 2px dashed #90d23d;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .banner-advertize__upload-lable {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 84px;
    background: url("../img/add_file.png");
    cursor: pointer; }
    .banner-advertize__upload-lable:hover {
      background: url("../img/add_file_green.png");
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .banner-advertize__upload-lable:not(hover) {
      background: url("../img/add_file.png");
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
  .banner-advertize__text {
    color: #909090;
    font-size: 20px;
    font-weight: bold; }
  .banner-advertize__total {
    height: 70px;
    line-height: 70px;
    background: #dbffad;
    order-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px; }
  .banner-advertize__price {
    float: left;
    font-size: 36px;
    margin-left: 32px; }

.banner-advertize__input-area {
  width: 421px; }

#banner-advertize__upload-btn {
  display: none; }

.buttons_salad {
  text-align: right; }

.buttons__in-cart_salad {
  background: #76c415; }

.partners {
  height: 204px; }
  .partners__title {
    margin-top: 20px;
    font-size: 36px;
    text-align: center; }

.slider {
  position: relative;
  width: 695px;
  margin: 0 auto;
  margin-top: 37px; }
  .slider__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 55px; }
  .slider div:last-child {
    margin-right: 0; }
  .slider__img {
    border: none; }

.contact-us {
  background: #ffffff;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 30px; }
  .contact-us__title {
    width: 940px;
    padding-top: 75px;
    text-align: center;
    font-size: 40px; }

.form-table {
  display: table;
  width: 1000px;
  margin: 0 auto;
  margin-top: 25px; }
  .form-table__row {
    display: table-row; }
  .form-table__cell {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 50px; }
  .form-table__cell_map {
    width: 470px;
    padding-right: 20px;
    overflow: hidden;
    padding-bottom: 350px;
    position: relative; }
  .form-table__cell_form,
  .form-table .form-table__cell_contact-desktop {
    padding-left: 80px; }
  .form-table__title {
    margin-bottom: -3px;
    font-size: 30px; }
  .form-table__text {
    font-size: 14px;
    font-weight: bold; }

.iframe-map {
  left: 0;
  top: 0;
  height: 380px;
  width: 100%;
  position: absolute; }

.form input {
  display: block; }

.form__name, .form__number, .form__email {
  font-family: 'Open Sans', sans-serif;
  width: 317px;
  display: block;
  padding: 15px 15px;
  border: 1px solid #d2d2d2;
  background: transparent;
  outline: none;
  margin-bottom: 11px;
  color: #696969;
  font-size: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
.form__submit {
  width: 205px;
  height: 50px;
  border-radius: 2px;
  color: #fff;
  font-size: 25px;
  line-height: 47px;
  background: #90d23d;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  cursor: pointer;
  border: none;
  outline: none;
  overflow: hidden; }
.form__text {
  font-family: 'Open Sans', sans-serif;
  width: 327px;
  display: block;
  padding: 10px;
  border: 1px solid #d2d2d2;
  outline: none;
  margin-bottom: 13px;
  color: #696969;
  font-size: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  resize: none; }

.contact-ways__block {
  background: #fff;
  padding: 30px 0; }

.contact-ways {
  width: 700px;
  margin: 30px auto;
  margin-bottom: 0; }
  .contact-ways__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 60px; }
  .contact-ways__link {
    display: block;
    height: 28px;
    padding: 5px 0px;
    padding-left: 48px;
    color: #000;
    line-height: 19px;
    font-size: 18px; }
    .contact-ways__link:hover {
      color: #84ad1b; }
  .contact-ways__link_tel {
    background: url("../img/icons.png") 0 -155px no-repeat; }
  .contact-ways__link_email {
    background: url("../img/icons.png") 0 -190px no-repeat; }
  .contact-ways__link_address {
    background: url("../img/icons.png") 0 -228px no-repeat; }
  .contact-ways__link_fax {
    background: url("../img/icons.png") 0 -270px no-repeat; }
  .contact-ways__list li:last-child {
    margin-right: 0; }

footer {
  position: relative;
  height: 160px;
  background: #90d23d; }

.social-nets {
  margin: 0 auto;
  width: 550px;
  padding-top: 30px; }
  .social-nets__list {
    width: 200px;
    margin: 0 auto; }
    .social-nets__list li:last-child {
      margin-right: 0; }
  .social-nets__item {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 49px;
    margin-right: 8px; }
  .social-nets__link {
    display: block;
    width: 50px;
    height: 49px; }
    .social-nets__link:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: transform, 0.9s ease;
      -ms-transition: transform, 0.9s ease;
      transition: transform, 0.9s ease; }
    .social-nets__link:not(hover) {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: transform, 0.9s ease;
      -ms-transition: transform, 0.9s ease;
      transition: transform, 0.9s ease; }
  .social-nets__link_facebook {
    background: url("../img/icons.png") 0 -337px no-repeat; }
  .social-nets__link_vk {
    background: url("../img/icons.png") 0 -388px no-repeat; }
  .social-nets__link_linkedin {
    background: url("../img/icons.png") 0 -438px no-repeat; }
  .social-nets__link_google {
    background: url("../img/icons.png") 0 -489px no-repeat; }
  .social-nets__copyright {
    margin-top: 30px;
    display: block;
    color: #ffffff;
    font-size: 16px; }

.up-button__container {
  position: absolute;
  top: 70px;
  right: 160px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center; }

.up-button {
  display: inline-block;
  width: 32px;
  height: 20px;
  background: url("../img/icons.png") -5px -311px no-repeat; }

.ik_select {
  margin-bottom: 11px; }

.intro-select1-link,
.intro-select2-link .ik_select_link_inner {
  position: relative;
  padding: 20px 50px 20px 30px; }

.intro-select1-link,
.intro-select1-dd
.ik_select_list,
.intro-select2-link
.ik_select_link_inner,
.intro-select2-dd
.ik_select_list {
  background: #fff;
  font-size: 20px;
  line-height: 24px;
  color: #858481;
  border: 1px solid #90d23d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.ik_select_link {
  height: 20px !important;
  margin-top: 3px;
  padding: 10px 35px 10px 15px;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #858481; }

.ik_select_link_text {
  font-size: 16px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.ik_select_link:after,
.intro-select2-link
.ik_select_link_inner:after {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 20px;
  line-height: 24px;
  margin-top: -11px; }

.ik_select_dropdown {
  top: -1px;
  left: -2px;
  min-width: 410px;
  max-width: none;
  width: auto !important;
  padding: 5px;
  background: #fff;
  border: 1px solid #90d23d;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.intro-select1-dd .ik_select_list li.ik_select_hover,
.intro-select2-dd .ik_select_list li.ik_select_hover {
  background: #fff; }

.intro-select1-dd .ik_select_list li,
.intro-select2-dd .ik_select_list li {
  padding: 2px 50px 2px 30px; }

.ik_select_autowidth {
  min-width: 390px;
  /*  width: auto !important;*/
  margin-top: -44px;
  margin-left: 2px;
  cursor: pointer; }

.ik_select_list .ik_select_option {
  padding: 6px 15px;
  padding-left: 12px;
  cursor: pointer; }
  .ik_select_list .ik_select_option:hover {
    color: #90d23d; }

.ik_select_option_label {
  font-size: 16px; }

.intro-select1-link {
  cursor: pointer;
  width: 370px; }

.intro-select1-link:after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: 65%;
  right: 15px;
  font-size: 20px;
  line-height: 24px;
  margin-top: -11px;
  background: url("../img/triangle.png") 0 0 no-repeat;
  z-index: 1; }

.select-block,
.select-block_text {
  position: relative; }

.select-block:after,
.select-block_text:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  right: 7px;
  width: 10px;
  height: 10px;
  background: url("../img/star-small.png") 0 0 no-repeat;
  z-index: 0; }

.select-block_text:after {
  right: 7px; }

.form-table__cell_contact-adaptive {
  display: none; }

.red {
  border: 1px solid red;
  -webkit-transition: all, 0.6s ease;
  -ms-transition: all, 0.6s ease;
  transition: all, 0.6s ease; }

.red {
  border: 1px solid red;
  -webkit-transition: all, 0.6s ease;
  -ms-transition: all, 0.6s ease;
  transition: all, 0.6s ease; }

.normal {
  border: 1px solid #90d23d;
  -webkit-transition: all, 0.6s ease;
  -ms-transition: all, 0.6s ease;
  transition: all, 0.6s ease; }

::-webkit-input-placeholder {
  opacity: 1;
  color: #d5d5d5 !important; }

::-moz-placeholder {
  opacity: 1; }

:-moz-placeholder {
  opacity: 1; }

:-ms-input-placeholder {
  opacity: 1;
  color: #d5d5d5 !important; }

@media only screen and (min-width: 1140px) and (max-width: 1280px) {
  .top-banner__img-static {
    display: inline-block;
    vertical-align: top; }

  .flash {
    display: none; }

  .wrapper {
    width: 100%; }

  .top-banner img,
  .logo img {
    max-width: 100%; }

  .banner-advertize__img {
    max-width: 100%; }

  .content_banner {
    width: 81%; }

  .contact-us {
    width: 820px;
    padding-bottom: 0;
    padding-right: 0; }

  .form-table__cell_map {
    width: 465px; }

  .form-table__cell_form {
    padding-left: 50px; } }
@media only screen and (min-width: 1024px) and (max-width: 1140px) {
  .advertize {
    width: 78%; }

  .side-banners_contact {
    float: none; } }
@media only screen and (min-width: 768px) and (max-width: 1140px) {
  .wrapper {
    width: 100%; }

  .top-banner,
  .logo {
    height: inherit; }

  .top-banner img,
  .logo img {
    max-width: 100%; }

  .nav-list {
    width: 770px; }

  .form-table__cell {
    width: 630px;
    margin: 0 auto; }

  .banner-advertize__img {
    max-width: 85%; }

  .banner-advertize__img-container {
    width: 30%; }

  .buttons__in-cart_salad {
    font-size: 13px; }

  .banner-advertize__title {
    font-size: 20px; }

  .banner-advertize__title-container {
    height: 60px;
    line-height: 60px; }

  .banner-advertize {
    margin-top: 10px;
    margin-bottom: 10px; }

  .advertize__input-area {
    width: 421px;
    float: left;
    padding-right: 0; }

  .promo-container {
    text-align: center; }
    .promo-container_banner-advertize {
      margin-top: 20px;
      margin-left: 17px; }

  .advertize {
    float: left;
    margin-right: 0;
    margin-left: 0; }

  .advertize-img {
    width: 250px;
    float: right;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden; }

  .advertize__image {
    width: 220px; }

  .advertize__total {
    padding-left: 0; }

  .banner-advertize__upload-btn {
    display: none; }

  .content_banner {
    width: 100%; }

  .select-block_text {
    width: 425px; }

  .advertize__title {
    font-size: 24px; }

  .side-banners_contact {
    float: right;
    margin-right: 10px; }

  .contact-us {
    width: 700px;
    float: left;
    margin-bottom: 0; }

  div.content_main {
    float: left;
    margin-left: 20px; }

  .side-banners_main {
    clear: both;
    float: none;
    width: 550px;
    margin: 0 auto; }

  .banner-block {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .banner-advertize__upload-container {
    margin-top: 5px;
    margin-bottom: 30px; }

  .side-banners {
    clear: both;
    float: none;
    width: 550px;
    margin: 0 auto; }

  .banner-block {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; }

  .select-block_text {
    width: 425px; }

  .advertize {
    width: 100%; }

  .side-banners_contact {
    float: none;
    width: inherit; }

  .side-banners_contact .banner-block {
    float: none; }

  .content_main {
    width: 545px !important; } }
@media only screen and (min-width: 768px) and (max-width: 960px) {
  .side-banners_contact {
    width: 550px; }

  div.content_main {
    float: none;
    margin: 0 auto; } }
@media only screen and (min-width: 320px) and (max-width: 960px) {
  .banner-advertize__title-container {
    height: inherit;
    line-height: 40px; }

  .banner-advertize__title-small {
    margin-left: 20px; }

  .service {
    float: none;
    width: 100%;
    min-height: inherit;
    padding-bottom: 10px; }

  .service__item {
    text-align: center; } }
@media only screen and (min-width: 320px) and (max-width: 640px) {
  .banner-advertize__upload-container {
    margin-top: 0;
    margin-bottom: 30px; } }
@media only screen and (min-width: 320px) and (max-width: 1140px) {
  .top-banner__img-static {
    display: inline-block;
    vertical-align: top; }

  .flash {
    display: none; }

  .top-banner {
    max-width: 100%; }

  .nav__item {
    width: 240px; }

  .content {
    float: none; }

  .product {
    width: inherit; }

  .product-description {
    width: 100%; }

  .product-description {
    padding-right: 0;
    padding-left: 0; }

  .up-button__container {
    right: 20px; }

  .contact-us__title {
    width: 100%; }

  .form-table {
    width: 100%; }

  .form-table__cell {
    display: block; }

  .contact-us {
    padding-bottom: 0;
    padding-left: 10px; }

  .form-table__cell_contact-adaptive {
    display: block;
    margin-top: 30px; }

  .form-table__cell_contact-desktop {
    display: none; }

  .form-table__cell_form {
    padding-left: 0; } }
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .top-banner,
  .logo {
    height: inherit; }

  .top-banner img,
  .logo img {
    max-width: 100%; }

  .wrapper {
    width: 100%; }

  .nav {
    height: inherit; }

  .nav-list {
    width: 100%; }

  .nav__item {
    width: 100% !important;
    display: block;
    text-align: center;
    padding-left: 0; }

  .nav__link {
    margin-left: 0 !important; }

  .catalog,
  .advertisement,
  .contacts {
    background-image: none; }

  .social-nets {
    width: 100%; }

  .social-nets__copyright {
    padding-left: 15px;
    padding-right: 15px; }

  .slider {
    width: 100%; }

  .slider__item {
    display: block;
    width: 130px;
    margin: 0 auto;
    margin-right: inherit;
    margin-bottom: 20px; }

  .slider div:last-child {
    margin-right: inherit; }

  .partners {
    height: inherit; }

  .contact-ways {
    width: 100%; }

  .contact-ways__item {
    display: block;
    width: 180px;
    margin: 0 auto; }

  .contact-ways__list li:last-child {
    margin-right: auto; }

  .contact-us__title {
    font-size: 26px; }

  .form__name,
  .form__number,
  .form__email,
  .form-table {
    width: 95%; }

  .form__text {
    width: 96.6%; }

  .iframe {
    width: 100%; }

  .side-banners,
  .side-banners_contact {
    float: none;
    width: 480px;
    margin: 0 auto; }

  .banner-block {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; }

  .side-banners__img {
    width: 140px; }

  .form-table__cell_map {
    width: 100%; }

  .banner-advertize__description {
    width: 95%; }

  .content_banner {
    width: 100%; }

  .advertize {
    margin-right: 0;
    margin-left: 0; }

  .advertize-img {
    width: 280px;
    margin: 0 auto;
    float: none; }

  .advertize__input-area {
    margin: 0 auto;
    float: none; }

  .advertize__total {
    margin-top: 30px; }

  .buttons_salad {
    text-align: left; }

  .buttons__in-cart_salad {
    margin-left: 10px;
    margin-right: 0;
    font-size: 13px; }

  .content_main {
    width: 97%;
    margin-left: 0; } }
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    overflow-x: hidden; }

  .side-banners {
    width: 65%;
    text-align: center; }

  .banner-advertize__title-container {
    height: inherit; }

  .banner-advertize__heading,
  .banner-advertize__name-organization,
  .banner-advertize__text-desciption,
  .banner-advertize__phone {
    min-width: inherit;
    width: 264px; }

  .intro-select1-link {
    width: 250px; }

  .ik_select_autowidth {
    min-width: 150px !important; }

  .ik_select_link_novalue {
    width: 150px; }

  .advertize__heading,
  .advertize__name-organization,
  .advertize__text-desciption,
  .advertize__phone,
  .advertize__schedule,
  .advertize__address,
  .advertize__site,
  .advertize__email,
  .advertize__nets {
    min-width: inherit;
    width: 263px; }

  .advertize__input-area,
  .advertize-img {
    padding-left: 0px;
    padding-right: 0px; }

  .division__part {
    font-size: 11px; }

  .advertize__title {
    text-align: center;
    margin-left: 0; }

  .select-block_text:after {
    right: -16px; }

  .ik_select_dropdown {
    min-width: 274px; }

  .division {
    margin-top: 24px; }

  .banner-advertize__img {
    width: 280px; }

  .banner-advertize__img-container {
    float: none;
    margin-bottom: 20px;
    text-align: center;
    width: inherit;
    margin-left: 0; }

  .banner-advertize__title {
    font-size: 24px;
    line-height: 44px; }

  .banner-advertize__description {
    width: 310px;
    margin: 0 auto;
    float: none; }

  .banner-advertize__total {
    height: inherit; }

  .promo-container_banner-advertize {
    margin-top: 30px; }

  .banner-advertize__price {
    margin-top: 20px;
    float: none;
    text-align: center; }

  .buttons_salad {
    text-align: center;
    margin-top: 0px; }

  .banner-advertize__upload-container {
    margin-top: 20px;
    margin-bottom: 20px; }

  .intro-select1-link {
    width: 234px; }

  .ik_select_link {
    height: 18px !important;
    margin-top: 5px; }

  .advertize__input-area {
    width: 290px; }

  .select-block_text:after {
    right: 10px; }

  .advertize-img {
    width: 300px; }

  .advertize__phone,
  .advertize__heading,
  .advertize__text-desciption,
  .banner-advertize__heading,
  .banner-advertize__name-organization,
  .banner-advertize__text-desciption,
  .banner-advertize__phone {
    background: #fff url(../img/star-small.png) 268px 4px no-repeat; }

  .banner-advertize__input-area {
    width: 287px; } }

/*# sourceMappingURL=style.css.map */
